* {
    box-sizing: border-box;
}

body{
    
    background-color: black;
}
.wrapper {
    display: grid;
    gap: 20px;
    margin:0rem 8rem;
    
}
/*Main-header*/
.main-header{
 display: grid;
 grid-template-columns: 1fr;
 justify-content: center; 
 width: 100%;
 box-shadow: 0 5px 5px rgb(255, 255, 255);
 border-radius: 15px  25px 15px ;
/* background-color: #fff; */
/* box-shadow: 0px  10px rgba(165, 42, 42, 1); */
}
@media screen and (max-width:800px) {
       .main-header{
           grid-template-columns: 1fr;
       }
}
.main-header h1{
    color:black white;
    font-size: 4rem;
    /* text-shadow: 2px 2px 1px red; */

}
.main-header i{
    font-size: 4rem;
    color:crimson !important;
}
.header{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'navbar hero'
    'navbar hero'
    ;
    justify-content: center;
}
@media screen and (max-width:1000px) {
    .header{
        grid-template-areas: 
        'navbar'
        'hero '
        }
    .header .navbar{
        grid-template-columns: 1fr;
        border-bottom:1px solid white ;
        border-right: none;
    }
    .navbar ul{
        grid-template-columns: 1fre;
        width: 100%;
    }
}
.navbar {
    grid-area: navbar;
    width: 400px;
    /* border-right: 1px solid white; */
}
.header nav ul {
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(4, 1fr);
    color: blue;
    font-size: large;
    text-align: center;
}

.header nav a {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    background-color:black;
    padding: 0.8rem;
    color: white;
}

.header nav a:hover{
    background-color: #ccc;
    color: crimson;
}

/*Hero*/
.hero{
    grid-area: hero;
    background-image: url(images/anastase-maragos-9dzWZQWZMdE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:scroll;

}
h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding-top: 0;
}

.hero p{
    line-height: 1.6;
    margin-bottom: rem;
    color: white;
    padding:0 2rem;
    padding-bottom: 1.5rem;
}
.hero a {
    text-decoration: none;
    color: white;
    background-color: crimson;
    padding: 1rem 2rem;
    border: 2px solid white;
    border-radius: 40px;
    font-size:1.2rem;
    font-weight: bold;
}
.hero a:hover{
  background-color:orangered;
}
.btn {
    margin: 1rem 2rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    

}

/*Stats*/
.stats{
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    margin-top: 3rem;
    margin-bottom: 3rem; 
    border-radius: 15px 25px 15px;
    box-shadow: 0 3px 2px rgb(255, 255, 255);
}
@media screen and (max-width:1000px) {
    .stats {
        grid-template-columns: 1fr;
    }
}
.stats{
    color: white;
    text-align: center;
    padding: 3.5rem 2rem;
}
.stats:hover{
    box-shadow: 0 10px 10px rgb(255, 255, 255);
    border: 1px solid crimson;
}
.stat i:hover{
    transform:scale(2) ;
    transition: width 2s, height 2s, transform ;
    color: orangered;
}
.stat p{
    color: white;
    font-size: 1.5rem;
}

/*Services*/
h2 {
    text-align: center;
    color: white;
    padding: 2rem 0;
}
.gym-services{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(5,1fr);
    justify-content: center;
    padding-top: 1rem;
}
 @media screen and (max-width:1000px) {
    .gym-services {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    
} 
.card{
    /* background-color:#fff; */
    max-width:400px;
    text-align: center;
    /* box-shadow: 0 1px 5px rgb(255, 255, 255); */
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0 10px 10px rgb(255, 255, 255);
    border: 1px solid crimson;
}
.card-title{
    color:white;
    font-size: 1.2rem;
    padding-top: 1rem;
}
.card a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding:2rem;
}
.card img{ 
    width: 100%;
    gap: 10px;
    border-radius:05  10px ;
    
}
.gym-services1 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    padding-top: 1rem;
}
@media screen and (max-width:1000px) {
    .gym-services1 {
        grid-template-columns: 1fr;
    }

    .card1 {
        display: block;
    }
}

.card1 {
    /* background-color:#fff; */
    max-width: 400px;
    text-align: center;
    /* box-shadow: 0 1px 5px rgb(255, 255, 255); */
    border-radius: 10px;
}

.card1:hover {
    box-shadow: 0 10px 10px rgb(255, 255, 255);
    border: 1px solid crimson;
}

.card1-title {
    color: white;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.card1 a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 2rem;
}

.card1 img {
    width: 100%;
    gap: 10px;
    border-radius: 05 10px;

}
/*Info*/
.info{
    display: grid;
    gap: 30px;
    margin-top: 6rem;
    grid-template-areas: 
    'info1 info2'
    'info1  info2'
    ;
}
@media screen and (max-width:1000px) {
    .info{
        grid-template-areas: 
        'info1  info1'
        'info2 info2'
        ;
    }
}
.info1{
    grid-area: info1;
}
.info h3, p{
    color: #fff;
    
}
.info h3{
    font-size: 1.4rem;
    text-align: center;
}
.info i{
    color: white;
    padding: 1rem;
    
}
.info2{
    grid-area: info2;
}
.info img{
    max-width: 600px;
    border-radius: 35px 0 45px;
}
/*trainers*/
.trainers{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
.t-div{
  /* background:linear-gradient(white,#ccc, black); */
  border-radius: 12px 35px 45px;
}
#th3{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-top: 3rem;
}
.trainers img{
   width: 100%;
   height: 500px;
    border-radius: 12px 35px 45px;
    border: 4px solid crimson;
}
.trainers p{
    text-align: center; 
    font-size: 1.5rem;
    font-weight: bolder;
    
}
@media screen and (max-width:1000px) {
    .trainers {
        grid-template-columns: 1fr;
    }
}
/*joining*/
.joining{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
@media screen and (max-width:1000px) {
    .joining {
        grid-template-columns: 1fr;
    }
}
.j-text{
    background-image: url(images/os3.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    border-radius: 15px;
    text-align: center;
    font-size: 2rem;
    background-color: black;
    opacity: 0.8;
}
.j-img{
 width: 100%;
 height: auto;
 padding: 0 2rem;

}
.j-img p{
    padding-bottom: 1rem;
}
.joining a{
    text-decoration: none;
    color: white;
    background-color: crimson;
    padding: 1rem 2rem;
    border: 2px solid white;
    border-radius: 40px;
}
.joining a:hover{
    background-color: orangered;
}
#line{
    color: white;
    width: 100%;
    margin-top: 6rem; 
    margin-bottom: 2rem;
}
/*footer*/
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 1rem;
}
@media screen and (max-width:1000px) {
    .footer {
        grid-template-columns: 1fr;
    }
}

.footer .name{
    text-align: center;
}

.footer i{
    color: white;
    text-align: center;
}
.links ul{
    list-style: none;
    text-align: center;
}
.links li a{
text-decoration: none;
color: #fff;
text-align: center;
line-height: 3;
}
.links li a:hover{
    background-color: orangered;
    padding: 1rem;
}
.contact{
    text-align: center;
    line-height: 2;
}
.contact a{
    color: white;
    text-decoration: none;
}
.social{
    text-align: center;
}
.social ul{
    list-style: none;
}
.social li a{
    text-align: center;
}
.social li i{
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 3;
}
#top {
    text-align: right;
}
